numpy
scipy
torch
torchaudio
typeguard==2.13.3
einops
hydra-core
opt-einsum
sentencepiece==0.1.99
ctc-segmentation>=1.6.6
humanfriendly
torch_complex
librosa
h5py>=2.10.0
kaldiio
soundfile>=0.10.2
PyYAML>=5.1.2
jaconv
pytorch-wpe
